<!-- Version 1.0 Juan De Leon 07/30/2021 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Brechin Main and Surge Daily Checklist</title>
    <!-- Website Tab Title Can Be Changed^^^ -->
</head>

<body>
    <header>
        <!-- This Header Includes the Logos and Titles, Try not to change the Logo Sizing but the Titles can just be changed! -->
        <div class="headerImages">
            <img src="../public/images/lafargeLogo.png" class="lafargeLogo">
            <img src="../public//images/maintenanceLogo.png" class="maintenanceLogo">
        </div>
        <!-- Change Titles Below between h1 and h2 tags -->
        <h1>Brechin Daily Checklist</h1>
        <h2>Main and Surge</h2>
    </header>
    <form action="/submitDataM" method="POST" id="checklistForm" name="mainAndSurgeForm">
        <!-- this is what controls the form and where it gets sent^^^!!! -->
        <section>
            <div class="formHeaderInfo">
                <!-- Name, Date and Shift Inputs -->
                <!-- name -->
                <label class="inputLabel">
                    <div>Name:</div>
                    <input type="text" name="employee" id="employee" required>
                </label>
                <!-- Date -->
                <label class="inputLabel">
                    <div>Date:</div>
                    <input type="date" name="date" id="date" required>
                </label>
                <!-- shifts -->
                <label class="radioLabel">Shift:
                    <div></div>
                    <label>
                        <span class="inputLabel">1</span>
                        <input type="radio" name="shift" id="shift1" value="1" required>
                    </label>
                    <span></span>
                    <label>
                        <span class="inputLabel">2</span>
                        <input type="radio" name="shift" id="shift2" value="2">
                    </label>
                </label>
            </div>
        </section>

        <section>
            <!-- This is the content inside the Collapsible -->
            <button type="button" class="collapsible">Conveyors, Stacker, Belt Feeder Checklist</button>
            <!-- Collapsible Title can be Changed ^^ -->
            <div class="content">
                <table>
                    <!-- All the content is in this Table^ -->
                    <tr>
                        <!-- Each "tr" is a row in the table and "td" is each element in the row,
                             all the text can be changed depending on the form  -->
                        <td class="checklistTitle">Frame</td>
                        <td class="checklistTitle">Belt</td>
                        <td class="checklistTitle">Pulleys, Idlers</td>
                        <td></td>
                        <td class="checklistTitle">Drive</td>
                        <td class="checklistTitle">Stacker</td>
                        <td class="checklistTitle"> Gear box</td>
                    </tr>
                    <tr>
                        <td>Structure</td>
                        <td>Alignment</td>
                        <td>Alignment</td>
                        <td>Buildup, Bearings</td>
                        <td>Impact Bed Wear</td>
                        <td>V-Belts</td>
                        <td>Tires/Runway</td>
                        <td>Oil Level & Temperature</td>
                    </tr>
                    <tr>
                        <td>Chutes</td>
                        <td>Wear Tears</td>
                        <td>Impact Beds for Wear</td>
                        <td>Lagging, Pulleys</td>
                        <td></td>
                        <td>Gearbox</td>
                        <td>Stacker Drive</td>
                        <td class="redText">(max 190°F)</td>
                    </tr>
                    <tr>
                        <td>Skirting Buildup</td>
                        <td>Splices, Scrapers</td>
                        <td>Cut Return Rollers</td>
                        <td></td>
                        <td>Bearings</td>
                        <td>Hydraulic Lift Cylinders</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Counterweight</td>
                        <td></td>
                        <td>Electrical Cables</td>
                        <td>Winches, Cables, Drive</td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <h3>Conveyors</h3>
            <h4>Tunnel Discharge 1444029</h4>
            <!-- "h3" and "h4" are just titles with h3 being the bigger one these can be changed ^ -->
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4029" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4029" id="g4029" value="checked"
                        onchange="guardChecked('g4029','hg4029','Guard 1444029 Defective')">
                </label>
                <input id="hg4029" name="hg4029" type="hidden" value="Guard 1444029 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4029" value="checked"
                        onchange="displayPrompt('defect1444029','hd4029','p4029')">
                </label>
                <div class="hiddenDefect" id="defect1444029">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4029" name="hd4029"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4029" id="p4029">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>Main 1444030</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4030" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4030" id="g4030" value="checked"
                        onchange="guardChecked('g4030','hg4030','Guard 1444030 Defective')">
                </label>
                <input id="hg4030" name="hg4030" type="hidden" value="Guard 1444030 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4030" value="checked"
                        onchange="displayPrompt('defect1444030','hd4030','p4030')">
                </label>
                <div class="hiddenDefect" id="defect1444030">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4030" name="hd4030"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4030" id="p4030">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat with h3 Title for every Major Section -->
            <h3>Belt Feeder</h3>
            <h4>Pulldown #1 1444026</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4026" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4026" id="g4026" value="checked"
                        onchange="guardChecked('g4026','hg4026','Guard 1444026 Defective')">
                </label>
                <input id="hg4026" name="hg4026" type="hidden" value="Guard 1444026 Defective">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4026" value="checked"
                        onchange="displayPrompt('defect1444026', 'hd4026','p4026')">
                </label>
                <div class="hiddenDefect" id="defect1444026">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4026" name="hd4026"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4026" id="p4026">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <h4>Pulldown #2 1444027</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4027" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4027" id="g4027" value="checked"
                        onchange="guardChecked('g4027','hg4027','Guard 1444027 Defective')">
                </label>
                <input id="hg4027" name="hg4027" type="hidden" value="Guard 1444027 Defective">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4027" value="checked"
                        onchange="displayPrompt('defect1444027', 'hd4027','p4027')">
                </label>
                <div class="hiddenDefect" id="defect1444027">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4027" name="hd4027"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4027" id="p4027">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <h4>Pulldown #3 1444028</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4028" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4028" id="g4028" value="checked"
                        onchange="guardChecked('g4028','hg4028','Guard 1444028 Defective')">
                </label>
                <input id="hg4028" name="hg4028" type="hidden" value="Guard 1444028 Defective">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4028" value="checked"
                        onchange="displayPrompt('defect1444028', 'hd4028','p4028')">
                </label>
                <div class="hiddenDefect" id="defect1444028">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4028" name="hd4028"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4028" id="p4028">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
        </section>


        <div class="formInputs">
            <button type="button" id="formConfirm" class="submitButton">Submit</button>
        </div>

        <div id="lock-modal">
            <div class="popup" id="popup">
                <p>This will be saved. Continue ?</p>
                <div class="buttonArrangement">
                    <button type="button" class="submitButton" id="cancelButton">Cancel</button>
                    <button type="submit" class="submitButton" id="okButton">Ok</button>
                </div>
            </div>
        </div>
        <div id="loader"></div>
        <input type="hidden" name="sections" id="" value="Main and Surge">
    </form>

</body>
<footer>
    <script src="../public/js/collapsibleBar.js"></script>
    <script src="../public/js/displayPrompt.js"></script>
    <script src="../public/js/shortFunctions.js"></script>
    <script src="../public/js/validation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../public/js/loader.js"></script>
    <script src="../public/js/confirmation.js"></script>
</footer>

</html>