<!-- Version 1.0 Juan De Leon 08/03/2021 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Brechin Secondary-1 Daily Checklist</title>
    <!-- Website Tab Title Can Be Changed^^^ -->
</head>

<body>
    <header>
        <!-- This Header Includes the Logos and Titles, Try not to change the Logo Sizing but the Titles can just be changed! -->
        <div class="headerImages">
            <img src="../public/images/lafargeLogo.png" class="lafargeLogo">
            <img src="../public//images/maintenanceLogo.png" class="maintenanceLogo">
        </div>
        <!-- Change Titles Below between h1 and h2 tags -->
        <h1>Brechin Daily Checklist</h1>
        <h2>Secondary-1</h2>
    </header>
    <form action="/submitData1" method="POST" id="checklistForm" name="secondary1Form">
        <!-- this is what controls the form and where it gets sent^^^!!! -->
        <section>
            <div class="formHeaderInfo">
                <!-- Name, Date and Shift Inputs -->
                <!-- name -->
                <label class="inputLabel">
                    <div>Name:</div>
                    <input type="text" name="employee" id="employee" required>
                </label>
                <!-- Date -->
                <label class="inputLabel">
                    <div>Date:</div>
                    <input type="date" name="date" id="date" required>
                </label>
                <!-- shifts -->
                <label class="radioLabel">Shift:
                    <div></div>
                    <label>
                        <span class="inputLabel">1</span>
                        <input type="radio" name="shift" id="shift1" value="1" required>
                    </label>
                    <span></span>
                    <label>
                        <span class="inputLabel">2</span>
                        <input type="radio" name="shift" id="shift2" value="2">
                    </label>
                </label>
            </div>
        </section>

        <section>
            <!-- This is the content inside the Collapsible -->
            <button type="button" class="collapsible">Screens Checklist</button>
            <!-- Collapsible Title can be Changed ^^ -->
            <div class="content">
                <table>
                    <!-- All the content is in this Table^ -->
                    <tr>
                        <!-- Each "tr" is a row in the table and "td" is each element in the row,
                             all the text can be changed depending on the form  -->
                        <td class="checklistTitle">Check Screen for:</td>
                        <td class="checklistTitle">Dust Buildup:</td>
                        <td>V-belts, Counterweight</td>
                        <td class="checklistTitle">Check for Wear:</td>
                        <td class="checklistTitle">For Simplicity Screens:</td>
                    </tr>
                    <tr>
                        <td>Unusual Noises</td>
                        <td>Hopper/Chute</td>
                        <td>Motor Mount, Screen Clearance</td>
                        <td>Tube Covers</td>
                        <td>Oil Level, Leaks</td>
                    </tr>
                    <tr>
                        <td>Break, wear</td>
                        <td>Catwalk/steps</td>
                        <td class="checklistTitle">Grease Bearings:</td>
                        <td>discharge/Feed Chutes</td>
                        <td>S#1-Check/Clean Punch Plate</td>
                    </tr>
                    <tr>
                        <td>Cracks, Tension</td>
                        <td>Loose Nuts & Bolts</td>
                        <td>Simplicity (6 shots each per 17 hrs)</td>
                        <td>Suspension Rods</td>
                        <td>S#8-Check Timing Belt</td>
                    </tr>
                    <tr>
                        <td>Springs, Material Buildup</td>
                        <td>Check Sheeves</td>
                        <td>Dilons (6 shots each per shift)</td>
                        <td>Feed Plate/ Liners</td>
                        <td>Polydeck Panels</td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <h3>Screens</h3>
            <h4 class="importantText">Reminder: Bearing Temp to be taken every 2 weeks max 190°F</h4>
            <h4>#1 Simplicity 1441302</h4>
            <!-- "h3" and "h4" are just titles with h3 being the bigger one these can be changed ^ -->
            <div class="twoTemps">
                <label class="spacing">
                    <span>Drive Side Temp (°F)</span>
                    <input type="number" name="dst1302" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Non Drive Side Temp (°F)</span>
                    <input type="number" name="ndst1302" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g1302" id="g1302" value="checked"
                        onchange="guardChecked('g1302','hg1302','Guard 1441302 Defective')">
                </label>
                <input id="hg1302" name="hg1302" type="hidden" value="Guard 1441302 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d1302" value="checked"
                        onchange="displayPrompt('defect1441302','hd1302','p1302')">
                </label>
                <div class="hiddenDefect" id="defect1441302">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd1302" name="hd1302"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p1302" id="p1302">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <h4>#1 Simplicity 1741032</h4>
            <!-- "h3" and "h4" are just titles with h3 being the bigger one these can be changed ^ -->
            <div class="twoTemps">
                <label class="spacing">
                    <span>Drive Side Temp (°F)</span>
                    <input type="number" name="dst1032" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Non Drive Side Temp (°F)</span>
                    <input type="number" name="ndst1032" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g1032" id="g1032" value="checked"
                        onchange="guardChecked('g1032','hg1032','Guard 1741032 Defective')">
                </label>
                <input id="hg1032" name="hg1032" type="hidden" value="Guard 1741032 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d1032" value="checked"
                        onchange="displayPrompt('defect1741032','hd1032','p1032')">
                </label>
                <div class="hiddenDefect" id="defect1741032">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd1032" name="hd1032"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p1032" id="p1032">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>#2 Dilon 1741028</h4>
            <div class="twoTemps">
                <label class="spacing">
                    <span>Drive Side Temp (°F)</span>
                    <input type="number" name="dst1028" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Non Drive Side Temp (°F)</span>
                    <input type="number" name="ndst1028" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g1028" id="g1028" value="checked"
                        onchange="guardChecked('g1028','hg1028','Guard 1741028 Defective')">
                </label>
                <input id="hg1028" name="hg1028" type="hidden" value="Guard 1741028 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d1028" value="checked"
                        onchange="displayPrompt('defect1741028','hd1028','p1028')">
                </label>
                <div class="hiddenDefect" id="defect1741028">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd1028" name="hd1028"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p1028" id="p1028">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>#3 Dilon 10142349</h4>
            <div class="twoTemps">
                <label class="spacing">
                    <span>Drive Side Temp (°F)</span>
                    <input type="number" name="dst2349" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Non Drive Side Temp (°F)</span>
                    <input type="number" name="ndst2349" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g2349" id="g2349" value="checked"
                        onchange="guardChecked('g2349','hg2349','Guard 10142349 Defective')">
                </label>
                <input id="hg2349" name="hg2349" type="hidden" value="Guard 10142349 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d2349" value="checked"
                        onchange="displayPrompt('defect10142349','hd2349','p2349')">
                </label>
                <div class="hiddenDefect" id="defect10142349">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd2349" name="hd2349"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p2349" id="p2349">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
        </section>

        <section>
            <!-- repeat of Table Section above just different text, amount of rows and columns -->
            <button type="button" class="collapsible">Conveyors, Stacker Checklist</button>
            <div class="content">
                <table>
                    <tr>
                        <td>Guards Present and undamaged</td>
                        <td class="checklistTitle">Frame</td>
                        <td class="checklistTitle">Belt</td>
                        <td class="checklistTitle">Pulleys, Idlers</td>
                        <td class="checklistTitle">Drive</td>
                        <td class="checklistTitle"> Gear box</td>
                    </tr>
                    <tr>
                        <td>Clean Walk-unders</td>
                        <td>Structure</td>
                        <td>Alignment</td>
                        <td>Buildup, Lagging</td>
                        <td>V-belts/Chain</td>
                        <td>Oil Level & Temp</td>
                    </tr>
                    <tr>
                        <td>Clean Gravity</td>
                        <td>Chutes</td>
                        <td>Wear Tears Holes</td>
                        <td>Impact Beds for Wear</td>
                        <td>Gearbox, Bearings</td>
                        <td class="redText">(max 190°F)</td>
                    </tr>
                    <tr>
                        <td>Take-up Enclosure</td>
                        <td>Skirting</td>
                        <td>Splices, Scrapers</td>
                        <td>Retention Chains</td>
                        <td>Electrical Cables</td>
                        <td>Oil Level if Leakage Exists</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Buildup</td>
                        <td>Rollers</td>
                        <td>Bearing, Idlers</td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <h3>Conveyors</h3>
            <h4>1/4" Chip Field 1444055</h4>
            <!-- "h3" and "h4" are just titles with h3 being the bigger one these can be changed ^ -->
            <div class="formInputs">
                <!-- These are the Inputs for every specific Part the titles can be changed-->
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4055" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4055" id="g4055" value="checked"
                        onchange="guardChecked('g4055','hg4055','Guard 1444055 Defective')">
                </label>
                <input id="hg4055" name="hg4055" type="hidden" value="Guard 1444055 Defective">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4055" value="checked"
                        onchange="displayPrompt('defect1444055','hd4055','p4055')">
                </label>
                <div class="hiddenDefect" id="defect1444055">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4055" name="hd4055"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4055" id="p4055">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>3/8" Field 1444058</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4058" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4058" id="g4058" value="checked"
                        onchange="guardChecked('g4058','hg4058','Guard 1444058 Defective')">
                </label>
                <input id="hg4058" name="hg4058" type="hidden" value="Guard 1444058 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4058" value="checked"
                        onchange="displayPrompt('defect1444058','hd4058','p4058')">
                </label>
                <div class="hiddenDefect" id="defect1444058">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4058" name="hd4058"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4058" id="p4058">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>HL6 Field Belt 1444045</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4045" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4045" id="g4045" value="checked"
                        onchange="guardChecked('g4045','hg4045','Guard 1444045 Defective')">
                </label>
                <input id="hg4045" name="hg4045" type="hidden" value="Guard 1444045 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4045" value="checked"
                        onchange="displayPrompt('defect1444045','hd4045','p4045')">
                </label>
                <div class="hiddenDefect" id="defect1444045">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4045" name="hd4045"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4045" id="p4045">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat with h3 Title for every Major Section -->
            <h3>Stackers</h3>
            <h4>1/4" Chip 1444120</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4120" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4120" id="g4120" value="checked"
                        onchange="guardChecked('g4120','hg4120','Guard 1444120 Defective')">
                </label>
                <input id="hg4120" name="hg4120" type="hidden" value="Guard 1444120 Defective">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4120" value="checked"
                        onchange="displayPrompt('defect1444120', 'hd4120','p4120')">
                </label>
                <div class="hiddenDefect" id="defect1444120">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4120" name="hd4120"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4120" id="p4120">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <h4>HL3 1442009</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt2009" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g2009" id="g2009" value="checked"
                        onchange="guardChecked('g2009','hg2009','Guard 1442009 Defective')">
                </label>
                <input id="hg2009" name="hg2009" type="hidden" value="Guard 1442009 Defective">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d2009" value="checked"
                        onchange="displayPrompt('defect1442009', 'hd2009','p2009')">
                </label>
                <div class="hiddenDefect" id="defect1442009">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd2009" name="hd2009"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p2009" id="p2009">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
        </section>


        <div class="formInputs">
            <button type="button" id="formConfirm" class="submitButton">Submit</button>
        </div>

        <div id="lock-modal">
            <div class="popup" id="popup">
                <p>This will be saved. Continue ?</p>
                <div class="buttonArrangement">
                    <button type="button" class="submitButton" id="cancelButton">Cancel</button>
                    <button type="submit" class="submitButton" id="okButton">Ok</button>
                </div>
            </div>
        </div>
        <div id="loader"></div>
        <input type="hidden" name="sections" id="" value="Secondary-1">
    </form>

</body>
<footer>
    <script src="../public/js/collapsibleBar.js"></script>
    <script src="../public/js/displayPrompt.js"></script>
    <script src="../public/js/shortFunctions.js"></script>
    <script src="../public/js/validation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../public/js/loader.js"></script>
    <script src="../public/js/confirmation.js"></script>
</footer>

</html>