<!-- Version 1.0 Juan De Leon 08/03/2021 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Brechin Secondary-2 Daily Checklist</title>
    <!-- Website Tab Title Can Be Changed^^^ -->
</head>

<body>
    <header>
        <!-- This Header Includes the Logos and Titles, Try not to change the Logo Sizing but the Titles can just be changed! -->
        <div class="headerImages">
            <img src="../public/images/lafargeLogo.png" class="lafargeLogo">
            <img src="../public//images/maintenanceLogo.png" class="maintenanceLogo">
        </div>
        <!-- Change Titles Below between h1 and h2 tags -->
        <h1>Brechin Daily Checklist</h1>
        <h2>Secondary-2</h2>
    </header>
    <form action="/submitData2" method="POST" id="checklistForm" name="secondary2Form">
        <!-- this is what controls the form and where it gets sent^^^!!! -->
        <section>
            <div class="formHeaderInfo">
                <!-- Name, Date and Shift Inputs -->
                <!-- name -->
                <label class="inputLabel">
                    <div>Name:</div>
                    <input type="text" name="employee" id="employee" required>
                </label>
                <!-- Date -->
                <label class="inputLabel">
                    <div>Date:</div>
                    <input type="date" name="date" id="date" required>
                </label>
                <!-- shifts -->
                <label class="radioLabel">Shift:
                    <div></div>
                    <label>
                        <span class="inputLabel">1</span>
                        <input type="radio" name="shift" id="shift1" value="1" required>
                    </label>
                    <span></span>
                    <label>
                        <span class="inputLabel">2</span>
                        <input type="radio" name="shift" id="shift2" value="2">
                    </label>
                </label>
            </div>
        </section>

        <section>
            <!-- This is the content inside the Collapsible -->
            <button type="button" class="collapsible">Screens Checklist</button>
            <!-- Collapsible Title can be Changed ^^ -->
            <div class="content">
                <table>
                    <!-- All the content is in this Table^ -->
                    <tr>
                        <!-- Each "tr" is a row in the table and "td" is each element in the row,
                             all the text can be changed depending on the form  -->
                        <td class="checklistTitle">Check Screen for:</td>
                        <td class="checklistTitle">Dust Buildup:</td>
                        <td>V-belts, Counterweight</td>
                        <td class="checklistTitle">Check for Wear:</td>
                        <td class="checklistTitle">For Simplicity Screens:</td>
                    </tr>
                    <tr>
                        <td>Unusual Noises</td>
                        <td>Hopper/Chute</td>
                        <td>Motor Mount, Screen Clearance</td>
                        <td>Tube Covers</td>
                        <td>Oil Level, Leaks</td>
                    </tr>
                    <tr>
                        <td>Break, wear</td>
                        <td>Catwalk/steps</td>
                        <td class="checklistTitle">Grease Bearings:</td>
                        <td>discharge/Feed Chutes</td>
                        <td>S#1-Check/Clean Punch Plate</td>
                    </tr>
                    <tr>
                        <td>Cracks, Tension</td>
                        <td>Loose Nuts & Bolts</td>
                        <td>Simplicity (6 shots each per 17 hrs)</td>
                        <td>Suspension Rods</td>
                        <td>S#8-Check Timing Belt</td>
                    </tr>
                    <tr>
                        <td>Springs, Material Buildup</td>
                        <td>Check Sheeves</td>
                        <td>Dilons (6 shots each per shift)</td>
                        <td>Feed Plate/ Liners</td>
                        <td>Polydeck Panels</td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <h3>Screens</h3>
            <h4 class="importantText">Reminder: Bearing Temp to be taken every 2 weeks max 190°F</h4>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>#4 Dilon 1441304</h4>
            <div class="twoTemps">
                <label class="spacing">
                    <span>Drive Side Temp (°F)</span>
                    <input type="number" name="dst1304" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Non Drive Side Temp (°F)</span>
                    <input type="number" name="ndst1304" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g1304" id="g1304" value="checked"
                        onchange="guardChecked('g1304','hg1304','Guard 1441304 Defective')">
                </label>
                <input id="hg1304" name="hg1304" type="hidden" value="Guard 1441304 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d1304" value="checked"
                        onchange="displayPrompt('defect1441304','hd1304','p1304')">
                </label>
                <div class="hiddenDefect" id="defect1441304">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd1304" name="hd1304"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p1304" id="p1304">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>#5 Dilon 1441318</h4>
            <div class="twoTemps">
                <label class="spacing">
                    <span>Drive Side Temp (°F)</span>
                    <input type="number" name="dst1318" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Non Drive Side Temp (°F)</span>
                    <input type="number" name="ndst1318" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g1318" id="g1318" value="checked"
                        onchange="guardChecked('g1318','hg1318','Guard 1441318 Defective')">
                </label>
                <input id="hg1318" name="hg1318" type="hidden" value="Guard 1441318 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d1318" value="checked"
                        onchange="displayPrompt('defect1441318','hd1318','p1318')">
                </label>
                <div class="hiddenDefect" id="defect1441318">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd1318" name="hd1318"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p1318" id="p1318">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>#6 Dilon 1641078</h4>
            <div class="twoTemps">
                <label class="spacing">
                    <span>Drive Side Temp (°F)</span>
                    <input type="number" name="dst1078" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Non Drive Side Temp (°F)</span>
                    <input type="number" name="ndst1078" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g1078" id="g1078" value="checked"
                        onchange="guardChecked('g1078','hg1078','Guard 1641078 Defective')">
                </label>
                <input id="hg1078" name="hg1078" type="hidden" value="Guard 1641078 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d1078" value="checked"
                        onchange="displayPrompt('defect1641078','hd1078','p1078')">
                </label>
                <div class="hiddenDefect" id="defect1641078">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd1078" name="hd1078"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p1078" id="p1078">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>#7 Dilon 1641080</h4>
            <div class="twoTemps">
                <label class="spacing">
                    <span>Drive Side Temp (°F)</span>
                    <input type="number" name="dst1080" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Non Drive Side Temp (°F)</span>
                    <input type="number" name="ndst1080" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g1080" id="g1080" value="checked"
                        onchange="guardChecked('g1080','hg1080','Guard 1641080 Defective')">
                </label>
                <input id="hg1080" name="hg1080" type="hidden" value="Guard 1641080 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d1080" value="checked"
                        onchange="displayPrompt('defect1641080','hd1080','p1080')">
                </label>
                <div class="hiddenDefect" id="defect1641080">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd1080" name="hd1080"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p1080" id="p1080">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
        </section>

        <section>
            <!-- repeat of Table Section above just different text, amount of rows and columns -->
            <button type="button" class="collapsible">Conveyors, Stacker Checklist</button>
            <div class="content">
                <table>
                    <tr>
                        <td>Guards Present and undamaged</td>
                        <td class="checklistTitle">Frame</td>
                        <td class="checklistTitle">Belt</td>
                        <td class="checklistTitle">Pulleys, Idlers</td>
                        <td class="checklistTitle">Drive</td>
                        <td class="checklistTitle"> Gear box</td>
                    </tr>
                    <tr>
                        <td>Clean Walk-unders</td>
                        <td>Structure</td>
                        <td>Alignment</td>
                        <td>Buildup, Lagging</td>
                        <td>V-belts/Chain</td>
                        <td>Oil Level & Temp</td>
                    </tr>
                    <tr>
                        <td>Clean Gravity</td>
                        <td>Chutes</td>
                        <td>Wear Tears Holes</td>
                        <td>Impact Beds for Wear</td>
                        <td>Gearbox, Bearings</td>
                        <td class="redText">(max 190°F)</td>
                    </tr>
                    <tr>
                        <td>Take-up Enclosure</td>
                        <td>Skirting</td>
                        <td>Splices, Scrapers</td>
                        <td>Retention Chains</td>
                        <td>Electrical Cables</td>
                        <td>Oil Level if Leakage Exists</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Buildup</td>
                        <td>Rollers</td>
                        <td>Bearing, Idlers</td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <h3>Conveyors</h3>
            <h4>Screenings Return 1444054</h4>
            <!-- "h3" and "h4" are just titles with h3 being the bigger one these can be changed ^ -->
            <div class="formInputs">
                <!-- These are the Inputs for every specific Part the titles can be changed-->
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4054" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4054" id="g4054" value="checked"
                        onchange="guardChecked('g4054','hg4054','Guard 1444054 Defective')">
                </label>
                <input id="hg4054" name="hg4054" type="hidden" value="Guard 1444054 Defective">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4054" value="checked"
                        onchange="displayPrompt('defect1444054','hd4054','p4054')">
                </label>
                <div class="hiddenDefect" id="defect1444054">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4054" name="hd4054"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4054" id="p4054">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>Screenings #1 Field 1444052</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4052" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4052" id="g4052" value="checked"
                        onchange="guardChecked('g4052','hg4052','Guard 1444052 Defective')">
                </label>
                <input id="hg4052" name="hg4052" type="hidden" value="Guard 1444052 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4052" value="checked"
                        onchange="displayPrompt('defect1444052','hd4052','p4052')">
                </label>
                <div class="hiddenDefect" id="defect1444052">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4052" name="hd4052"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4052" id="p4052">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>3/4" Clear Discharge 1444041</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4041" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4041" id="g4041" value="checked"
                        onchange="guardChecked('g4041','hg4041','Guard 1444041 Defective')">
                </label>
                <input id="hg4041" name="hg4041" type="hidden" value="Guard 1444041 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4041" value="checked"
                        onchange="displayPrompt('defect1444041','hd4041','p4041')">
                </label>
                <div class="hiddenDefect" id="defect1444041">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4041" name="hd4041"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4041" id="p4041">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>3/4" Clear Field 1444043</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4043" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4043" id="g4043" value="checked"
                        onchange="guardChecked('g4043','hg4043','Guard 1444043 Defective')">
                </label>
                <input id="hg4043" name="hg4043" type="hidden" value="Guard 1444043 Defective">
                <label>
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4043" value="checked"
                        onchange="displayPrompt('defect1444043','hd4043','p4043')">
                </label>
                <div class="hiddenDefect" id="defect1444043">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd4043" name="hd4043"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p4043" id="p4043">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
            <!-- Repeat with h3 Title for every Major Section -->
            <h3>Stackers</h3>

            <h4>3/4" Clear 1442010</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt2010" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g2010" id="g2010" value="checked"
                        onchange="guardChecked('g2010','hg2010','Guard 1442010 Defective')">
                </label>
                <input id="hg2010" name="hg2010" type="hidden" value="Guard 1442010 Defective">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d2010" value="checked"
                        onchange="displayPrompt('defect1442010', 'hd2010','p2010')">
                </label>
                <div class="hiddenDefect" id="defect1442010">
                    <label class="defectLabel">
                        <span class="defectTitle">Defect:</span>
                        <textarea oninput="auto_grow(this)" wrap="hard" cols="200" type="text" id="hd2010" name="hd2010"
                            placeholder="Type Defect Here"></textarea>
                    </label>
                    <span class="prioritySelect">
                        <span class="defectTitle">Priority:</span>
                        <select name="p2010" id="p2010">
                            <option value=""></option>
                            <option value="1">1: Immediate</option>
                            <option value="2">2: Next Shutdown (within 24hrs)</option>
                            <option value="3">3: Next Maintenance Day</option>
                            <option value="4">4: Backlog</option>
                            <option value="5">5: Special Project</option>
                        </select>
                        <span class="dropdownArrow"></span>
                    </span>
                </div>
            </div>
        </section>

        <div class="formInputs">
            <button type="button" id="formConfirm" class="submitButton">Submit</button>
        </div>

        <div id="lock-modal">
            <div class="popup" id="popup">
                <p>This will be saved. Continue ?</p>
                <div class="buttonArrangement">
                    <button type="button" class="submitButton" id="cancelButton">Cancel</button>
                    <button type="submit" class="submitButton" id="okButton">Ok</button>
                </div>
            </div>
        </div>
        <div id="loader"></div>
        <input type="hidden" name="sections" id="" value="Secondary-2">
    </form>

</body>
<footer>
    <script src="../public/js/collapsibleBar.js"></script>
    <script src="../public/js/displayPrompt.js"></script>
    <script src="../public/js/shortFunctions.js"></script>
    <script src="../public/js/validation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../public/js/loader.js"></script>
    <script src="../public/js/confirmation.js"></script>
</footer>

</html>